<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>InCicle</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../public/assets/stylesheets/style.css'>
    <script src='main.js'></script>
</head>
<body>
    
    <header>
        <img src="../public/assets/img/logo.png"> 
    </header>
<main>
        <div class="container1">
            <div class="endomarketing">
                <h1>Endomarketing</h1>
            <select>
                <option value="comunication">TIPO</option>
                <option value="comunication">Comunicação</option>
                <option value="summeet">Evento</option>
                <option value="Publication">Publicação</option>
            </select>
            <button>CRIAR +</button>
        </div>

        <div class="handebol">
                <img src="../public/assets/img/HANDEBOL.PNG" alt="">
            <div class="infos">
                <h2>Geral dispensado para curtir o feriado</h2>
            <div class="spanhandebol">
                <span>COMUNICADO</span><p>15 DE OUT</p>
            </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt...</p>
            </div>
        </div>


        <div class="almoco">
                <img src="../public/assets/img/almoco.jpg" alt="">
            <div class="infos">
                <h2>Almoço do dia do desenvolvedor</h2>
            <div class="spanalmoco">
                <span>EVENTO</span><p>COSTELÃO CHURRASCARIA|15 DE OUT|</p><a href="">3 CONFIRMAÇÕES DE 15</a>
        </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt...</p>
        </div>
        </div>

            
        <div class="servicos">
                <img src="../public/assets/img/divulgacao.jpg" alt="">
            <div class="infos">
                <h2>Divulgação de serviços</h2>
            <div class="spanservicos">
                <span>PUBLICAÇÃO</span><p>15 DE OUT</p>
        </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt...</p>
        </div>
        </div>
            

        <div class="feriado">
                <img src="../public/assets/img/feriado.jpg" alt="">
            <div class="infos">
                <h2>Geral dispensado para curtir o feriado</h2>
            <div class="spanferiado">
                <span>COMUNICADO</span><p>15 DE OUT</p>
        </div>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt...</p>
        </div>
        </div>



        <div class="desenvolvedor">
                <img src="../public/assets/img/data.jpg" alt="">
            <div class="infos">
                <h2>Almoço do dia do desenvolvedor</h2>
            <div class="spandesenvolvedor">
                <span>EVENTO</span><p>COSTELÃO CHURRASCARIA|15 DE OUT|</p><a href="">3 CONFIRMAÇÕES DE 15</a>
        </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt...</p>
        </div>
        </div>

            
        <div class="divulgacao-de-servico">
                <img src="../public/assets/img/headset.jpg" alt="">
        <div class="infos">
                <h2>Geral dispensado para curtir o feriado</h2>
        <div class="spandivulgacao-de-servico">
                <span>PUBLICAÇÃO</span><p>15 DE OUT</p>
        </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt...</p>
        </div>
        </div>
    </div>


    <div class="container2">
        <div class="infoendomarketing">
            <h4>Endomarketing</h4><br>
            <p>Endomarketing está relacionado às ações de treinamento ou qualificação dos colaboradores da 
            empresa visando um melhor serviço para o cliente. Marketing interno, devido ao nome, é usualmente 
            confundido com Endomarketing mesmo sendo conceitos diferentes.</p><br>
            <button>DISPENSAR</button>
        </div>

        <div class="quadrogestao">
            <h4>Quadro de Gestão à Vida</h4>
            <div class="demonstrativo1">
                <div class="titulo1">
                    <p>Demonstrativo comercial</p>
                </div>
                <img src="../public/assets/img/demonstrativo1.0.jpg" alt="">
                <img src="../public/assets/img/demonstrativo1.1.jpg" alt="">
                <img src="../public/assets/img/demonstrativo1.2.jpg" alt="">
                <img src="../public/assets/img/demonstrativo1.3.jpg" alt="">
            </div>
            <div class="demonstrativo2">
                <div class="titulo2">
                    <p>Demonstrativo comercial</p>
                </div>
                <img src="../public/assets/img/demonstrativo1.0.jpg" alt="">
                <img src="../public/assets/img/demonstrativo1.1.jpg" alt="">
                <img src="../public/assets/img/demonstrativo1.2.jpg" alt="">
                <img src="../public/assets/img/demonstrativo1.3.jpg" alt="">
            </div>
            <div class="demonstrativo3">
                <div class="titulo3">
                    <p>Demonstrativo comercial</p>
                </div>
                <img src="../public/assets/img/demonstrativo1.0.jpg" alt="">
                <img src="../public/assets/img/demonstrativo1.1.jpg" alt="">
                <img src="../public/assets/img/demonstrativo1.2.jpg" alt="">
                <img src="../public/assets/img/demonstrativo1.3.jpg" alt="">
            </div>
            </div>
        </div>
    </div>
</main>

<footer>
</footer>

</body>
</html>